{% if timeline|length %}
<h2>Time Line</h1>
<ul>
    {% for event in timeline.events %}
    <li>
        <p>{% include event.template %}</p>
        {% for source in event.event.sources %}
        <img height="50px" src="{{ path('PhotoTreeAlbumBundle_images', { path: source.document.path }) }}" />
        {% endfor %}
    </li>
    {% endfor %}
</ul>
{% endif %}