body {
  width: 100%;
  font-family: Arial,Helvetica,sans-serif;
}

.head {
   border-bottom: 1px solid;
   padding: 10px;
} 

.head .menu, .head .search {
	float: right;
	padding-right: 10px;
}

.content {
    margin-left: 200px;
}

.left {
   float: left;
   margin: 5px;
   width: 200px;
}

.right {
   float: right;
   background-color: #aaa;
   margin: 5px;
   width: 200px;
}

.foot {
   clear: both;
   background-color: #aaa;
   margin: 5px;
}

.left h2 {
   margin: 0 0 10px 0;
   padding: 0;
   text-align: center;
   background-color: #ddd;
   clear: both;
}

.left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.left li {
    clear: both;
    text-align: center;
}

.left li p {
    margin-top: 5px;
}

.content img.profile {
    float: right;
    padding: 0 10px;
    width: 300px;
}
