{% extends 'PhotoTreeAlbumBundle::base.html.twig' %}
{% block body %}
<form method="POST">
    <input type="text" name="query" value="{{ query }}" />
    <input type="submit" />
</form>
{% if query %}
<ul>
{% for person in people %}
    <li>
         {% include 'PhotoTreeAlbumBundle:Person:person.html.twig' with { person: person } %}
    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}